<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Consero.Properties.Settings.FogBugzConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Program Files (x86)\FogBugz\accessories\FogBugz.MDB&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>